.container{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    text-align: center;
}

.empty{
    text-align: center;
    margin-top: 50px;
}
